.nav-link {
    color: #fff;
    font-size: 1.1em;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
    color: #fff;
}

.navbar-toggler {
    border: 0;
}

.navbar-toggler-icon {
    background-image: url("../../assets/icons/icon-menu.png");
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none
}

.btn-close {
    background: transparent url("../../assets/icons/icon-close.png") center / 2em auto no-repeat;
    opacity: 100%;
}

.offcanvas {
    max-width: 60%
}

@media (max-width: 991px) {
    .nav-link {
        color: #0051DB;
    }

    .nav-link:hover,
    .nav-link:focus,
    .nav-link:active {
        color: #0051DB;
    }

    .navbar-nav img {
        content: url("../../assets/icons/icon-login.png");
    }
}

@media (min-width: 992px) {
    .navbar-nav.desktop-center {
        align-items: center;
    }
}