#root {
  font-family: "Reddit Sans", sans-serif;
}

.bg-color {
  background-color: #0051DB;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

body,
label,
.form-control,
.form-control::after,
.form-select,
.form-select::after,
.btn-blue:hover,
.btn-white {
  color: #0051DB;
}

.errorMessage {
  color: #fff;
}

.page-title {
  font-size: 4em;
  color: #fff;
}

.btn {
  text-transform: lowercase;
  border-radius: 30px;
}

.btn-white:hover {
  background-color: #0051DB;
}

.card-title,
.list-group-item {
  color: #0051DB;
}

.card,
.iconFooter {
  transition: all .3s ease;
}

.card:hover,
.iconFooter:hover {
  transform: translateY(-3px);
}

@media (max-width: 991px) {
  .container {
    max-width: 390px;
  }
}